<% if action == :signup %>
    <% action_url = users_url %>
    <% action_text = 'Sign Up' %>
<% else %>
    <% action_url = session_url %>
    <% action_text = 'Log In' %>
<% end %>

<h3><%= action_text %> Page</h3>

<form action='<%= action_url %>' method='POST'>

    <label for='email'>Email:</label>
    <input id='email' type='text' name='user[email]' value ='<%= @user.email %>'>
    <br>
    <label for='password'>Password:</label>
    <input id='password' type='password' name='user[password]' value ='<%= @user.password %>'>

    <input type='submit' value='<%= action_text %>!'>
</form>